@tailwind base;
@tailwind components;
@tailwind utilities;

.pridi-extralight {
  font-family: "Pridi", serif;
  font-weight: 200;
  font-style: normal;
}

.pridi-light {
  font-family: "Pridi", serif;
  font-weight: 300;
  font-style: normal;
}

.pridi-regular {
  font-family: "Pridi", serif;
  font-weight: 400;
  font-style: normal;
}

.pridi-medium {
  font-family: "Pridi", serif;
  font-weight: 500;
  font-style: normal;
}

.pridi-semibold {
  font-family: "Pridi", serif;
  font-weight: 600;
  font-style: normal;
}

.pridi-bold {
  font-family: "Pridi", serif;
  font-weight: 700;
  font-style: normal;
}

* {
  font-family: "Pridi";
}

:root {
  --ti-cursor-color: dodgerblue;
}
